/////////////
//reset
////////////
* {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
html,body{
  height: 100%;
  width: 100%;
}
/////////////
//Variables
////////////
$pulse-blue: rgba(0, 133, 201, .6);
$pulse-red: rgba(225, 46, 50, .6);
/////////////
//Global
////////////
.page {
  height: 100vh;
}

.land {
  section {
    display:inline-block;
    width: 49vw;
    &:first-child {
      text-align: right;
    }
    &:last-child {
      text-align: left;
    }
  }
}

.logo {
  display:inline-block;
  width: 8em;
  height: 8em;
  border-radius: 4em;
  &.left {
    background-color: $pulse-red;
  }
  &.right {
    background-color: $pulse-blue;
    margin-left: -3em;
  }
}

.brand {
  font-family: sans-serif;
  font-size: 5rem;
  line-height: 4em;
  &.left {
    font-weight: 600;
  }
  &.right {
    font-weight: 300;
  }
}

.titles {
  background-color: lightblue;
  h1,h2{
    margin:0 auto;
    text-align: center;
  }
  h1 {
    span{
      &:first-child{
        font-weight: 600;
      }
      &:last-child{
        font-weight: 300;
      }
    }
  }
}

.table-form-wrapper {
  background-color: lightyellow;
  font-size: 1.4rem;
}

.col-6 {
  display: inline-block;
  width: 49vw;
  vertical-align: top;
  padding: 1em;
}

.table {
  td, th {
    border: 1px solid #999;
    padding: 0.5em;
  }
}

.form {
  background-color: lightgreen;
  label {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2em;
  }
  div{
    padding: 0.3rem;
  }
  input[type='radio']{
    width: 1.1em;
    height: 1.4em;
    vertical-align: middle;
  }
}

.teams {
  div {
    display:inline-block;
    width: 49%;
  }
}

.submit {
  background-color: lightgrey;
  text-align: right;
  input[type='submit']{
    background-color: $pulse-blue;
    color: white;
    border: 1px solid $pulse-blue;
    outline: none;
    border-radius: 0.1em;
    &:active {
      background-color: $pulse-red;
      color: white;
      border: 1px solid $pulse-red;
    }
  }
}




////Utils
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
​
.clearfix:after {
    clear: both;
}
